HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini

### Application Properties (remove sensitive data) ###
# Uncomment the line below if you want to exclude application.properties
# src/main/resources/application.properties

### Logs ###
*.log
logs/

### Database ###
*.db
*.sqlite

### Gradle ###
.gradle/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

### Maven ###
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties
